* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url("../images/bg.jpg"); */
  background-size: cover;
  color: #000;
  text-align: center;
  padding-top: 100px;
}

.question-options {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
